.btn-contenedor{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#24dc86 
   }
   
   .btn-habitacion{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    color: #a5a5a5;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    text-decoration: none;
   }
   
   .btn-habitacion::before{
    text-decoration: none;
    content:' ';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to
         right, #74e3af 0%, #24dc86 100%
         );
         transition:  .5s ease;
         display: block;
         z-index: -1;
   }
   
   
   .btn-habitacion:hover::before {
    width:  9em;  
    text-decoration: none;
   }
   
   
   .title-habitacion{
       display: inline-block;
       font-size: 30px;
       transform: skew(-20deg);
       background-image: linear-gradient(to right,#74e3af 0%, #24dc86);
       background-clip: text;
       -webkit-background-clip: text;
       color: transparent;
   }
   